{{- $globals := dict }}
{{- $_ := set $globals "containers" $ }}
{{- $_ := set $globals "Env" $.Env }}
{{- $_ := set $globals "Docker" $.Docker }}
{{- $_ := set $globals "NginxContainer" (where $globals.containers "Name" ($globals.Env.NGINX_CONTAINER_NAME | default "nginx") | first) }}

{{- $config := dict }}
{{- $_ := set $config "allow_published_addresses" ($globals.Env.ALLOW_PUBLISHED_ADDRESSES | default "false" | parseBool) }}


{{- $_ := set $globals "config" $config }}

{{- $_ := set $globals "networks" (dict) }}
# Networks available to the container running nginx:
{{- /*
     * Note: $globals.NginxContainer may be nil if the container cannot be reached.
     * See also: <https://github.com/nginx-proxy/docker-gen/issues/458>,
     * <https://github.com/nginx-proxy/nginx-proxy/issues/2189>.
     */}}
{{- if $globals.NginxContainer }}
    {{- range sortObjectsByKeysAsc $globals.NginxContainer.Networks "Name" }}
        {{- $_ := set $globals.networks .Name . }}
#     {{ .Name }}
    {{- else }}
#     (none)
    {{- end }}
{{- else }}
# /!\ WARNING: Failed to find the Docker container running nginx.
#              See also: <https://github.com/nginx-proxy/docker-gen/issues/458>
#              and <https://github.com/nginx-proxy/nginx-proxy/issues/2189>.
{{- end }}


{{- /*
     * Template used to merge updates into dict value
     */}}
{{- define "updDicItmField" }}
    {{- $target := .target }}
    {{- $key := .key }}
    {{- $field := .field }}
    {{- $value := .value }}

    {{- if hasKey $target $key }}
        {{- /* update existing */ -}}
        {{- $existingValue := index $target $key }}
        {{- $existingField := index $existingValue $field }}
        {{- if ne $existingField $value }}
            {{- $updatedValue := set $existingValue $field $value }}
            {{- $target = merge $target (dict $key $updatedValue) }}
        {{- else }}
        {{- end }}
    {{- else }}
        {{- $target = set $target $key (dict $field $value) }}
    {{- end }}
{{- end }}


{{- /*
     * Template that returns IP of the container to use in upstream
     */}}
{{- define "container_ip" }}
    {{- $container := .container }}
    {{- $nginxContainer := .nginxContainer }}

    {{- $bridgeNet := dict }}

    {{- /* check container labels for a network and try to use it  */ -}}
    {{- $labelNetName := index $container.Labels "dockergen.network" }}
    {{- if not (empty $labelNetName) }}
        {{ $cLn := where $container.Networks "Name" $labelNetName | first }}
        {{- if and $cLn (where $nginxContainer.Networks "Name" $labelNetName | first) }}
            {{- $bridgeNet = $cLn }}
        {{- end }}
    {{- else }}
        {{- /* check if this container has a common network with the nginx container  */ -}}
        {{- range $idx, $nCn := $nginxContainer.Networks }}
            {{- $net := where $container.Networks "Name" $nCn.Name | first }}
            {{- if $net }}
                {{- /* skip net "ingress" if container is in swarm mode */ -}}
                {{- if and $container.Node (eq $nCn.Name "ingress") }}
                    {{- continue }}
                {{- end }}

                {{- $bridgeNet = $net }}
                {{- break }}
            {{- end }}
        {{- end }}
    {{- end }}


    {{- if not $bridgeNet }}
        {{- if not (empty $labelNetName) }}
#   net from label {{ $labelNetName }} is not connecting this container with nginx container
        {{- else }}
#   no common net with nginx container
        {{- end }}
    {{- else }}
#   bridge net: {{ $bridgeNet.Name }}
        {{- if eq (index $container.Labels "dockergen.upstream.use_ipv6") "true" }}
            {{- $ipv6 := $bridgeNet.GlobalIPv6Address }}
            {{- if not (empty $ipv6) }}
                {{- $_ := set $ "ip" (printf "[%s]" $ipv6) }}
            {{- else }}
#   ipv6 requested but not available in this network
            {{- end }}
        {{- else }}
            {{- $ipv4 := $bridgeNet.IP }}
            {{- if not (empty $ipv4) }}
                {{- $_ := set $ "ip" $ipv4 }}
            {{- else }}
                {{- $ipv6 := $bridgeNet.GlobalIPv6Address }}
                {{- if not (empty $ipv6) }}
#   ipv4 not available in this network, using ipv6
                    {{- $_ := set $ "ip" (printf "[%s]" $ipv6) }}
                {{- else }}
#   neither ipv4 nor ipv6 are available in this network
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}

{{- end }}


{{- /*
     * Template that adds preread mappings for a port
     */}}
{{- define "preread_mappings" }}
    {{- $isIPv6 := .isIPv6 }}
    {{- $prereadMappings := .prereadMappings }}
    {{- $block := .block }}
    {{- $lastInternalPort := .lastInternalPort }}

    {{- $port := ternary $block.ListenPortIPv6 $block.ListenPortIPv4 $isIPv6 }}
    {{- if $port }}
        {{- $lastInternalPort = add $lastInternalPort 1 }}
        {{- $internalPortStr := toString $lastInternalPort }}

        {{- $prereadMapping := dict "SNI" $block.SNI "Port" $internalPortStr }}
        {{- $key := toString $port }}
        {{- $mappingsList := index $prereadMappings $key }}
        {{- if $mappingsList }}
            {{- $mappingsList = append $mappingsList $prereadMapping }}
        {{- else }}
            {{- $mappingsList = list $prereadMapping}}
        {{- end }}

        {{- $prereadMappings = set $prereadMappings $key $mappingsList }}
        {{- $_ := set . "listenPort" $internalPortStr }}
    {{- end }}

    {{- $_ := set . "lastInternalPort" $lastInternalPort }}
{{- end }}


{{- $upstreamBlocks := dict }}
{{- $serverBlocks := dict }}


{{- /* iterate over containers */ -}}
{{- range $container := $globals.containers }}
# === container {{ $container.Name }} ===

    {{- if ne $container.State.Running true }}
        {{ continue }}
    {{- end }}

# running

    {{- if ne (index $container.Labels "dockergen.enable") "true" }}
        {{ continue }}
    {{- end }}

# enabled

    {{- $args := dict "nginxContainer" $globals.NginxContainer "container" $container }}
    {{- template "container_ip" $args }}
    {{- if not $args.ip }}
# Error: container ip cannot be determined
        {{ continue }}
    {{- end }}
    {{- $containerIp := $args.ip }}
# container ip: {{ $containerIp }}


    {{- $routers := dict }}
    {{- $services := dict }}

    {{- range $key, $value := $container.Labels }}

        {{- $split := split $key "." }}


        {{- if (hasPrefix "dockergen.http.routers." $key) }}
#   r-key http: {{ $key }}
            {{ $routerName := index $split 3 }}

            {{- /* docker container IDs are alnum so a dash delimiter works */}}
            {{ $routerKey := printf "http-%s-%s" $container.Name $routerName }}
            {{- if and (eq (len $split) 5) (hasSuffix ".server_name" $key) }}
                {{- $serverName := $value }}
#   router {{ $routerName }} server_name: {{ $serverName }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "ServerName" "value" $serverName) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".entrypoint" $key) }}
                {{- $entrypoint := $value }}
#   router {{ $routerName }} entrypoint: {{ $entrypoint }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "Entrypoint" "value" $entrypoint) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".entrypoint_ipv6" $key) }}
                {{- $entrypointIpv6 := $value }}
#   router {{ $routerName }} entrypoint_ipv6: {{ $entrypointIpv6 }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "EntrypointIPv6" "value" $entrypointIpv6) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".service" $key) }}
                {{- $serviceName := $value }}
#   router {{ $routerName }} service: {{ $serviceName }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "ServiceName" "value" (printf "%s-%s" $container.Name $serviceName)) }}
            {{- end }}
            {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "Name" "value" $routerName) }}
        {{- else if (hasPrefix "dockergen.tcp.routers." $key) }}
#   r-key: {{ $key }}
            {{ $routerName := index $split 3 }}

            {{- /* docker container IDs are alnum so a dash delimiter works */}}
            {{ $routerKey := printf "%s-%s" $container.Name $routerName }}
            {{- if and (eq (len $split) 5) (hasSuffix ".sni" $key) }}
                {{- $sni := $value }}
#   router {{ $routerName }} SNI: {{ $sni }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "SNI" "value" $sni) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".entrypoint" $key) }}
                {{- $entrypoint := $value }}
#   router {{ $routerName }} entrypoint: {{ $entrypoint }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "Entrypoint" "value" $entrypoint) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".entrypoint_ipv6" $key) }}
                {{- $entrypointIpv6 := $value }}
#   router {{ $routerName }} entrypoint_ipv6: {{ $entrypointIpv6 }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "EntrypointIPv6" "value" $entrypointIpv6) }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".service" $key) }}
                {{- $serviceName := $value }}
#   router {{ $routerName }} service: {{ $serviceName }}
                {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "ServiceName" "value" (printf "%s-%s" $container.Name $serviceName)) }}
            {{- end }}
            {{- template "updDicItmField" (dict "target" $routers "key" $routerKey "field" "Name" "value" $routerName) }}
        {{- else if (hasPrefix "dockergen.http.services." $key) }}
#   s-key: {{ $key }}
            {{ $serviceName := index (split $key ".") 3 }}

            {{- /* docker container IDs are alnum so a dash delimiter works */}}
            {{ $serviceKey := printf "http-%s-%s" $container.Name $serviceName }}
            {{- if and (eq (len $split) 5) (hasSuffix ".port" $key) }}
                {{- $port := atoi $value }}
                {{- if eq $port 0 }}
# /!\ WARNING: service {{ $serviceName }} port {{ $value }} is invalid
                {{- else }}
#   service {{ $serviceName }} port: {{ $port }}
                    {{- template "updDicItmField" (dict "target" $services "key" $serviceKey "field" "Port" "value" $port) }}
                {{- end }}
             {{- end }}
        {{- else if (hasPrefix "dockergen.tcp.services." $key) }}
#   s-key: {{ $key }}
            {{ $serviceName := index (split $key ".") 3 }}

            {{- /* docker container IDs are alnum so a dash delimiter works */}}
            {{ $serviceKey := printf "%s-%s" $container.Name $serviceName }}
            {{- if and (eq (len $split) 5) (hasSuffix ".port" $key) }}
                {{- $port := atoi $value }}
                {{- if eq $port 0 }}
# /!\ WARNING: service {{ $serviceName }} port {{ $value }} is invalid
                {{- else }}
#   service {{ $serviceName }} port: {{ $port }}
                    {{- template "updDicItmField" (dict "target" $services "key" $serviceKey "field" "Port" "value" $port) }}
                {{- end }}
            {{- else if and (eq (len $split) 5) (hasSuffix ".proxy_protocol" $key) }}
                {{- $isProxyProtocol := $value | default "false" | parseBool }}
                {{- template "updDicItmField" (dict "target" $services "key" $serviceKey "field" "IsProxyProtocol" "value" $isProxyProtocol) }}
            {{- end }}
        {{- end }}

    {{- end }}

    {{- /* compose upstream blocks */ -}}
    {{- range $key, $value := $services }}
        {{- $upBlock := dict "IP" $containerIp }}
        {{- $port := $value.Port }}
        {{- if ne $port 0 }}
            {{- $_ := merge $upBlock (dict "Port" $port) }}
        {{- end }}
    {{- $upBlock = set $upstreamBlocks $key $upBlock }}
#   upstream {{ $key }} block {{ $upBlock }}
    {{- end }}

    {{- /* compose server blocks */ -}}
    {{- range $key, $value := $routers }}
#   compose server binding for router {{ $key }}


        {{- $isHttp := hasPrefix "http-" $key }}


        {{- if not $value.SNI }}
            {{- if $isHttp }}
                {{- $_ := set $value "SNI" $value.ServerName }}
            {{- else }}
# Warn: no SNI, setting to *
                {{- $_ := set $value "SNI" "*" }}
            {{- end }}
        {{- end }}

        {{- $listenPortIpv4 := 0 }}
        {{- if $value.Entrypoint }}
            {{- $listenPortIpv4 = (atoi $value.Entrypoint) }}
            {{- if eq $listenPortIpv4 0 }}
# Error: ipv4 entrypoint {{ $value.Entrypoint }} is not a number
                {{- continue }}
            {{- end }}
        {{- end }}
#   ipv4 listen port: {{ $listenPortIpv4 }}

        {{- $listenPortIpv6 := 0 }}
        {{- if $value.EntrypointIPv6 }}
            {{- $listenPortIpv6 = (atoi $value.EntrypointIPv6) }}
            {{- if eq $listenPortIpv6 0 }}
# Error: ipv6 entrypoint {{ $value.EntrypointIPv6 }} is not a number
                {{- continue }}
            {{- end }}
        {{- end }}
#   ipv6 listen port: {{ $listenPortIpv6 }}

        {{- if and (eq $listenPortIpv4 0) (eq $listenPortIpv6 0) }}
# Error: no valid entrypoints
            {{- continue }}
        {{- end }}


        {{- $sbKey := printf "%s%s-%s-%d-%d" (ternary "http-" "" $isHttp) $value.Name $value.SNI $listenPortIpv4 $listenPortIpv6 }}
#   server block key: {{ $sbKey }}


        {{- $upstreamName := $value.ServiceName | default $key }}
        {{- if and $isHttp $value.ServiceName }}
            {{- $upstreamName = printf "http-%s" $upstreamName }}
        {{- end }}
#   upstream name : {{ $upstreamName }}

        {{- $service := index $services $upstreamName }}
        {{- if not $service }}
            {{- if eq $upstreamName $key }}
#   creating implicit service {{ $upstreamName }} for router {{ $key }}
                {{- $service = set $services $upstreamName (dict "IP" $containerIp)}}
            {{- else }}
# Error: service {{ $upstreamName }} doesn't exist for router {{ $key }}
                {{- continue }}
            {{- end }}
        {{- end }}

        {{- if not $service }}
# Debug: sanity check - service {{ $upstreamName }} doesn't exist
            {{- continue }}
        {{- end }}


        {{ $port := $service.Port }}
        {{- if empty $port }}
            {{- $firstExposedPort := (first $container.Addresses).Port | default "" }}
            {{- if not (empty $firstExposedPort) }}
#       implicit port {{ $firstExposedPort }} (first exposed)
                {{- $port = $firstExposedPort }}
                {{- template "updDicItmField" (dict "target" $services "key" $upstreamName "field" "Port" "value" $port) }}
#   creating implicit upstream {{ $upstreamName }} ip {{ $containerIp }} port {{ $port }}
                {{- $_ := set $upstreamBlocks $key (dict "IP" $containerIp "Port" $port) }}
            {{- else }}
# Error: router {{ $key }} doesn't have any exposed ports, can't implicitly choose the first one
                {{- continue }}
            {{- end }}
        {{- end }}

        {{- /* check if port is exposed */ -}}
        {{- $exposedPortAddress := where $container.Addresses "Port" (toString $port) | first }}
        {{- if not $exposedPortAddress }}
# Error: service {{ $upstreamName }} port {{ $port }} is not exposed for router {{ $key }}
            {{- $upstreamBlocks = unset $upstreamBlocks $upstreamName }}
            {{- continue }}
        {{- end }}

        {{- /* warn/err for published addresses */ -}}
        {{- if not (empty $exposedPortAddress.HostPort) }}
            {{- if $globals.config.allow_published_addresses }}
# /!\ WARNING: Virtual port published on host to {{ $exposedPortAddress.HostPort }}.
#              Clients might be able to bypass the proxy and access the container directly.
            {{- else }}
# Error: service {{ $upstreamName }} port is published to {{ $exposedPortAddress.HostPort }}
                {{- $upstreamBlocks = unset $upstreamBlocks $upstreamName }}
                {{- continue }}
            {{- end }}
        {{- end }}


        {{- if hasKey $serverBlocks $sbKey }}
            {{- $existingBlock := index $serverBlocks $sbKey }}
            {{- $updatedBlock := set $existingBlock "UpstreamName" $upstreamName }}
#   server {{ $sbKey }} upd block {{ $updatedBlock }}
            {{- $serverBlocks = merge $serverBlocks (dict $sbKey $updatedBlock) }}
        {{- else }}
            {{- $newBlock := dict "SNI" $value.SNI "ListenPortIPv4" $listenPortIpv4 "ListenPortIPv6" $listenPortIpv6 "UpstreamName" $upstreamName "IsProxyProtocol" $service.IsProxyProtocol }}
#   server {{ $sbKey }} data {{ $newBlock }}
            {{- $serverBlocks = merge $serverBlocks (dict $sbKey $newBlock) }}
        {{- end }}

    {{- end }}


{{- end }}


{{- $lastInternalPort := 12000 }}
{{- $lastInternalPortHttp := 13000 }}


{{- /* set up upstream mappings */ -}}
{{- $prereadMappings := dict }}
{{- $prereadMappingsIPv6 := dict }}
{{- range $key, $block := $serverBlocks }}

    {{- $isHttp := hasPrefix "http-" $key }}

    {{- $port := ternary $lastInternalPortHttp $lastInternalPort $isHttp }}
    {{- $argsIPv4 := dict "isIPv6" false "prereadMappings" $prereadMappings "block" $block "lastInternalPort" $port }}
    {{- template "preread_mappings" $argsIPv4 }}
    {{- if $isHttp }}
        {{- $lastInternalPortHttp = $argsIPv4.lastInternalPort }}
    {{- else }}
        {{- $lastInternalPort = $argsIPv4.lastInternalPort }}
    {{- end }}

    {{- $port := ternary $lastInternalPortHttp $lastInternalPort $isHttp }}
    {{- $argsIPv6 := dict "isIPv6" true "prereadMappings" $prereadMappingsIPv6 "block" $block "lastInternalPort" $port }}
    {{- template "preread_mappings" $argsIPv6 }}
    {{- if $isHttp }}
        {{- $lastInternalPortHttp = $argsIPv6.lastInternalPort }}
    {{- else }}
        {{- $lastInternalPort = $argsIPv6.lastInternalPort }}
    {{- end }}

    {{- if $argsIPv4.listenPort }}
        {{- $_ = set $block "ListenPortIPv4" $argsIPv4.listenPort }}
    {{- end }}
    {{- if $argsIPv6.listenPort }}
        {{- $_ = set $block "ListenPortIPv6" $argsIPv6.listenPort }}
    {{- end }}

{{- end }}


{{- range $externalPort, $upstreamMappings := $prereadMappings }}
map $ssl_preread_server_name $backend_{{ $externalPort}} {
    {{- $catchAll := "" }}
    {{- range $prereadMapping := $upstreamMappings }}
    {{- $snis := splitList " " (toString $prereadMapping.SNI) }}
        {{- range $sni := $snis }}
            {{- if eq $sni "*" }}
                {{- if eq $catchAll "" }}
                    {{ $catchAll = $prereadMapping.Port }}
                {{- else }}
# Error: catch-all service on ext={{ $externalPort }} int={{ $prereadMapping.Port }} will be unreachable because catch-all is already occupied by a service on int={{ $catchAll }}
                {{- end }}
            {{- else }}
    {{ $sni }} 127.0.0.1:{{ $prereadMapping.Port }};
            {{- end }}
        {{- end }}
    {{- end }}
    {{- if eq $catchAll "" }}
    default reject_backend;
    {{- else }}
    default 127.0.0.1:{{ $catchAll }};
    {{- end }}
}

server {
    listen {{ $externalPort }};
    ssl_preread on;
    proxy_pass $backend_{{ $externalPort}};
}
{{- end }}


{{- range $externalPort, $upstreamMappings := $prereadMappingsIPv6 }}
map $ssl_preread_server_name $backend_{{ $externalPort}} {
    {{- $catchAll := "" }}
    {{- range $prereadMapping := $upstreamMappings }}
    {{- $snis := splitList " " (toString $prereadMapping.SNI) }}
        {{- range $sni := $snis }}
            {{- if eq $sni "*" }}
                {{- if eq $catchAll "" }}
                    {{ $catchAll = $prereadMapping.Port }}
                {{- else }}
# Error: catch-all service on ext={{ $externalPort }} int={{ $prereadMapping.Port }} will be unreachable because catch-all is already occupied by a service on int={{ $catchAll }}
                {{- end }}
            {{- else }}
    {{ $sni }} [::1]:{{ $prereadMapping.Port }};
            {{- end }}
        {{- end }}
    {{- end }}
    {{- if eq $catchAll "" }}
    default reject_backend;
    {{- else }}
    default [::1]:{{ $catchAll }};
    {{- end }}
}

server {
    listen {{ $externalPort }};
    ssl_preread on;
    proxy_pass $backend_{{ $externalPort}};
}
{{- end }}


{{- /* render the upstream blocks */ -}}
{{- range $key, $upBlock := $upstreamBlocks }}
    {{- if hasPrefix "http-" $key }}
        {{- continue }}
    {{- end }}
upstream {{ $key }} {
    server {{ $upBlock.IP }}:{{ $upBlock.Port }};
}
{{- end }}


{{- /* render the server blocks */ -}}
{{- range $key, $block := $serverBlocks }}
    {{- if hasPrefix "http-" $key }}
        {{- continue }}
    {{- end }}
server {
    {{- if $block.ListenPortIPv4 }}
    listen 127.0.0.1:{{ $block.ListenPortIPv4 }};
    {{- end }}
    {{- if $block.ListenPortIPv6 }}
    listen [::1]:{{ $block.ListenPortIPv6 }};
    {{- end }}
    proxy_pass {{ $block.UpstreamName }};
    {{- if $block.IsProxyProtocol }}
    proxy_protocol on;
    {{- end }}
}
{{- end }}
