# config
/config.toml
!/config/config.example.toml

# nginx
/nginx/.nginx-ports.yml
/nginx/conf.d/dockergen_*
/nginx/stream-conf.d/dockergen_*

# acmed
/certs/acmed/acmed.toml
/certs/acmed/hook-logs

# misc
/env/*
**/repo
