# config
/config.toml
!/config/config.example.toml

# nginx
/nginx/.nginx-ports.yml
/nginx/conf.d/*
!/nginx/conf.d/default.conf
!/nginx/conf.d/health.conf
!/nginx/conf.d/reject.conf
/nginx/stream-conf.d

# acmed
/certs/acmed/acmed.toml
/certs/acmed/hook-logs

# misc
/env/*
**/repo
