# This file is not meant to be edited unless you know what you're doing.
services:
  nginx:
    # https://github.com/nginxinc/docker-nginx-unprivileged
    image: nginx-unprivileged:local
    build:
      context: "${NGINX_REPO_DIR:?error}/${NGINX_FLAVOR:?error}"
      args:
        UID: "${NGINX_UID:?error}"
        GID: "${NGINX_GID:?error}"
    pull_policy: build
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    container_name: nginx
    depends_on:
      init-volumes:
        condition: service_completed_successfully
      docker-gen:
        condition: service_started
    group_add:
      - "${CERTS_GID:?error}"
      - "${DOCKERGEN_GID:?error}"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
    networks:
      nginx_net:
        ipv4_address: "${NGINX_CONTAINER_IP:?error}"
    ports: [] # overridden
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
    user: "${NGINX_UID:?error}:${NGINX_GID:?error}"
    userns_mode: keep-id
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/stream.conf.d:/etc/nginx/stream.conf.d:ro
      - certs:/etc/nginx/certs:ro

  certs:
    image: "acmed:local"
    build:
      context: "${ACMED_REPO_DIR:?error}"
      dockerfile: ./acmed.Dockerfile
      args:
        TARGET: bookworm
    pull_policy: build
    cap_drop:
      - ALL
    command:
      - "acmed"
      - "--pid-file"
      - "/etc/acmed/pid/acmed.pid"
      - "--log-level"
      - "debug"
      # - "trace"
      - "-f"
      - "--log-stderr"
    container_name: acmed
    depends_on:
      init-volumes:
        condition: service_completed_successfully
    init: true
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: "${CERTS_UID:?error}:${CERTS_GID:?error}"
    userns_mode: keep-id
    tmpfs:
      - /tmp
    volumes:
      - acmed-pid:/etc/acmed/pid
      - ./certs/acmed/acmed.toml:/etc/acmed/acmed.toml:ro
      - acmed-accounts:/var/lib/acmed/accounts
      - ./certs/acmed/hooks:/etc/acmed/hooks:ro
      - ./certs/acmed/hook-logs:/hook-logs
      - "${ACMESH_REPO_DIR:?error}:/acmesh:ro"
      - certs:/var/lib/acmed/certs

  docker-gen:
    image: nginxproxy/docker-gen:local
    build:
      context: "${DOCKERGEN_REPO_DIR:?error}"
      dockerfile: ./Dockerfile.alpine
    pull_policy: build
    cap_drop:
      - ALL
    command:
      - "-config"
      - "/etc/docker-gen/config.toml"
      - "-endpoint"
      - "tcp://dockerproxy:2375"
    container_name: docker-gen
    depends_on:
      dockerproxy:
        condition: service_started
      init-volumes:
        condition: service_completed_successfully
    environment:
      HTTP_PORT: "8080"
      ENABLE_HTTP_ON_MISSING_CERT: false
      ENABLE_IPV6: true
      TRUST_DOWNSTREAM_PROXY: false
    init: true
    networks:
      - nginx_net
      - docker-proxynet
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: "${DOCKERGEN_UID:?error}:${DOCKERGEN_GID:?error}"
    userns_mode: keep-id
    volumes:
      - ./dockergen/config.toml:/etc/docker-gen/config.toml:ro
      - ./dockergen/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
      - ./dockergen/nginx_stream.tmpl:/etc/docker-gen/templates/nginx_stream.tmpl:ro
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/stream.conf.d:/etc/nginx/stream.conf.d
      - certs:/etc/nginx/certs:ro

  dockerproxy:
    image: wollomatic/socket-proxy:1
    cap_drop:
      - ALL
    command:
      - "-loglevel=info"
      - "-allowfrom=docker-gen"
      - "-listenip=0.0.0.0"
      - "-allowGET=/(list|info|networks|_ping|version|containers/.*|events.*)" # for docker-gen
      - "-allowPOST=/containers/nginx/kill" # for docker-gen
      - "-shutdowngracetime=5"
      - "-watchdoginterval=600"
      - "-stoponwatchdog"
    mem_limit: 64M
    networks:
      - docker-proxynet
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: "65534:${DOCKER_SOCK_GID:?error}"
    userns_mode: keep-id
    volumes:
      - ${DOCKER_SOCK_PATH:?error}:/var/run/docker.sock:ro

  init-volumes:
    image: busybox
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
    command:
      - "sh"
      - "-c"
      - "chown ${CERTS_UID:?error}:${CERTS_GID:?error} /acmed-accounts && chown ${CERTS_UID:?error}:${CERTS_GID:?error} /certs"
    network_mode: none
    read_only: true
    restart: no
    security_opt:
      - no-new-privileges:true
    volumes:
      - acmed-accounts:/acmed-accounts
      - certs:/certs

networks:
  nginx_net:
    name: nginx_net
    driver: bridge
    ipam:
      config:
        - subnet: "${NGINX_SUBNET:?error}"
  docker-proxynet:
    driver: bridge
    internal: true

volumes:
  certs:
    name: certs
  acmed-accounts:
    name: acmed-accounts
  acmed-pid:
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: uid=${CERTS_UID:?error},gid=${CERTS_GID:?error},mode=0700
